.saludo{
	background-image: url('http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcRup0GDKReRzzFqRQfonrYlaKJmSAkPJ4dfOcNSivByV_n36sbsXJCZer-Huj6hG6YrAq8q-uLF-lDOPEbgN-4')center;
	background-size: cover;
	webkit-text-fill-color: transparent;
	webkit-text-background-clip:text;

}