{% extends 'base.html' %}
{% load static %}

{% block content %}

<table style="width: 100%;border-collapse: separate;">
	<!-- Headers -->
	<tr bgcolor="#00CDCD">
		<th style="border: 1px solid #ccc; padding: 8px;">First Name</th>
		<th style="border: 1px solid #ccc; padding: 8px;">Last Name</th>
		<th style="border: 1px solid #ccc; padding: 8px;">Phone Number</th>
		<th style="border: 1px solid #ccc; padding: 8px;">Email</th>
	</tr>
	<!-- Table Data -->
	{% for agent in agents %}
	<tr><a href="{% url 'detalles agente' agent.id %}">
		<td style="border: 1px solid #ccc; padding: 8px;">{{agent.first_name}}</td>
		<td style="border: 1px solid #ccc; padding: 8px;">{{agent.last_name}}</td>
		<td style="border: 1px solid #ccc; padding: 8px;">{{agent.phone}}</td>
		<td style="border: 1px solid #ccc; padding: 8px;">{{agent.email}}</td></a>
	</tr>
	{% endfor %}
	
</table>

{% endblock %}