<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href='static/css/index.css'>
</head>
<body>
{% include 'navbar.html' %}
<div id="demotext"><h1>Hola Honey</h1></div>
	<img src='static/img/logoculo.png' width="100%">
	<h1 class="pregunta">¿como esta ese culito tan bello?</h1>
	
</body>
</html>