<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href='static/css/index.css'>
</head>
<body>
{% include 'navbar.html' %}
<main class="container py-4">
	<section class="card card-body">
	<h1 class="display-4 text-center">Welcome to the TC app </h1>
	<p><h2>Here you can set all the info from the under contracts and send all emails needed (congratulations, TC, title and etc).<br>
		This will also allow you to sort the deals by agent, have count of how many deals each agent has and see the sales volume (global and by agent)
	Also, I hope to be able to add some other funtions to make our job easier</h2></p>


	</section>
</main>
	
</body>
</html>