{% load static %}
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src='https://preview.redd.it/802mgeh05s8c1.jpeg?width=640&crop=smart&auto=webp&s=50fd76282556315084e2ebb2895c57770d899e50' width="7%" alt="logo culo">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Buyer UC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Transsactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agregar' %}">Add Agent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agentes' %}">Agents</a>
        </li>

      </ul>

    </div>
  </div>
</nav>